.options {
    font-size: 18px;
    margin-top: 5px;
}

.form-container form {
  border: 1px solid #aaa;
    margin: 0 15%;;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: #c5e1a5;
}

.upload-image-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.form-container h1 {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 'bold';
        margin-left: 15%;
        margin-right: 15%;
        background:  #2965BE;
        margin-bottom: 0;
        padding: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px 5px 0px 0px;
        color: #b7dd8c;

            
}


.submit-btn {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}