.social-container {
    width: 335px;
    padding: 10px;
    background: #ededed;
    margin-top: 15px;
    border-radius: 6px;
    display: flex;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


#google, #linkedin, #twitter, #facebook {
    color: #fff;
}

