.side-drawer {
    height: 100%;
    background: #fff;
    box-shadow: 1px 0px 7px rgba(7, 7, 7, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

}

.sideDrawer-links {
    background: #2965BE;
}

.sideDrawer-links li a {
        
    color: #fff;
    font-size: 20px;
}

.sideDrawer-links li a:hover {
        
    color: rgb(182, 178, 178);
}

.icon-sidebar {
    margin-right: 10px
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    text-decoration: none;
    font-size: 1.2rem
}

.side-drawer.show  {
    transform: translateX(0);
}