.head {
    
        
        font-size: 30px;
        color: #fff;
        background: #2965BE;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 50px; 
        text-align: center;
        
        

}